---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">

			<img 
				class="rounded-full w-12 h-12 mb-4" 
				src="https://avatars.githubusercontent.com/u/57740438?v=4" 
				alt="profile photo" />
				
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, Soy Aaron! 
				<a 
					href="https://www.linkedin.com/in/aacoo/" 
					target="_blank"	
					rel="noopener"
					class="flex justify-center items-center opacity-80 ">
					<Badge>Software Engineer</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap ">
				<span> +4 años de Experiencia. </span> 
				<span class="text-yellow-200/90"> Un poco mas de texto aqui.</span>
				<span class="text-red-200/90" > Otro mas de texto tiene que ir aqui</span>
				<span class="opacity-85">Un ultimo texto para mostrar!</span>
			</h2>
		</section>
	</main>
		
</Layout>